@use '../../../scss/utils';
@use '../../../scss/globals';

.currency {
  font-family: utils.$font-gloock;
  color: globals.$green-neon;
  border-bottom: 1px solid globals.$green-neon;
}

input {
  background: transparent;
  border: none;
  border-radius: 0;
  color: globals.$green-neon;
  padding: 0.5rem 0;
  margin-right: 0.5rem;
  font-size: 1rem;
  outline: none;

  &::placeholder {
    font-family: utils.$font-grotesk;
    font-size: 1rem;
    color: globals.$green-neon;
  }
}

select {
  font-family: utils.$font-grotesk;
  padding: 0.5rem 0;
  background: transparent;
  color: globals.$green-neon;
  font-size: 1rem;
  border: none;
  border-radius: 0;
  outline: none;
}
