@use '../../scss/utils';

.header {
  background: #28044a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(124, 241, 120);
}

.header__wrapper {
  border: 1px solid rgb(124, 241, 120);
  padding: 3rem;
  border-radius: 5rem;
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: utils.$font-gloock;
  font-size: 6rem;
}

.header__currency {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: right;
  font-family: utils.$font-grotesk;
  font-size: 1.4rem;
}

@media screen and (min-width: 1920px) {
  h1 {
    font-size: 8rem;
  }

  .header__currency {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1600px) {
  h1 {
    font-size: 8rem;
  }

  .header__currency {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1080px) {
  h1 {
    font-size: 4.6rem;
  }
  .header__currency {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1120px) {
  .header__wrapper {
    padding: 2.5rem;
    justify-content: center;
    gap: 5rem;
  }

  h1 {
    font-size: 4rem;
    text-align: justify;
  }
  .header__currency {
    font-size: 1.5rem;
    text-align: right;
  }
}

@media screen and (max-width: 912px) {
  .header__wrapper {
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    gap: 0;
  }

  h1 {
    font-size: 6rem;
  }

  .header__currency {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 770px) {
  h1 {
    font-size: 5rem;
  }

  .header__currency {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 620px) {
  .header__wrapper {
    width: 100%;
  }

  h1 {
    font-size: 3.5rem;
  }

  .header__currency {
    font-size: 1rem;
    gap: 1rem;
  }
}

@media screen and (max-width: 490px) {
  .header__wrapper {
    height: max-content;
    padding: 5rem 1rem;
  }

  h1 {
    font-size: 3.2rem;
  }

  .header__currency {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .header__wrapper {
    height: max-content;
    padding: 5rem 1rem;
  }

  h1 {
    font-size: 2.4rem;
  }

  .header__currency {
    font-size: 0.8rem;
  }
}
